<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cz.xsendl00.synccontact"
  android:versionCode="1"
  android:versionName="1.0" >

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="19" />

  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.WRITE_CONTACTS" />
  <uses-permission android:name="android.permission.READ_SYNC_STATS" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  
  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <service
      android:name="cz.xsendl00.synccontact.authenticator.SyncAuthenticatorService"
      android:exported="false">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>
      <meta-data android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>
    
    <service android:name="cz.xsendl00.synccontact.adapter.SyncService"
      android:exported="false">
      <intent-filter>
        <action android:name="android.content.SyncAdapter" />
      </intent-filter>
      <meta-data android:name="android.content.SyncAdapter"
        android:resource="@xml/syncadapter" />
    </service>
    
    <receiver android:name=".UninstallIntentReceiver">
      <intent-filter android:priority="0">
            <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />
            <data android:scheme="cz.xsendl00.synccontact" />
      </intent-filter>
    </receiver>
    
    
    <activity
      android:name=".ServerAddActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".ServerActivity_"
      android:label="@string/app_name_edit" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ServerActivity_" />
    </activity>
    
    <activity
      android:name=".ServerActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_server" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".ContactsServerActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_ldap_contact" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".ContactsDetailActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".ContactsActivity_"
      android:label="@string/app_name_server" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ContactsActivity_" />
    </activity>
    
    <activity
      android:name=".ContactsDetailAddActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".ContactsDetailActivity_"
      android:label="@string/app_name_select_contact" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ContactsDetailActivity_" />
    </activity>
    
    <activity
      android:name=".ServerRemoveActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".ServerActivity_"
      android:label="@string/app_name_remove" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ServerActivity_" />
    </activity>
    
    <activity
      android:name=".SynchronizationActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_sync" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".SettingsActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_settings" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".ContactsActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_contact" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".InfoWelcomeActivity_"
      android:screenOrientation="portrait"
      android:label="@string/app_name" >
    </activity>
    
    <activity
      android:name=".ContactsMergeActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".InfoWelcomeActivity_"
      android:label="@string/app_name_merge" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".InfoWelcomeActivity_" />
    </activity>
    
    <activity
      android:name=".InfoSyncActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".InfoWelcomeActivity_"
      android:label="@string/app_name_info_sync" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".InfoWelcomeActivity_" />
    </activity>

    
    <activity
      android:name=".InfoMergeActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".InfoWelcomeActivity_"
      android:label="@string/app_name_info_merge" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".InfoWelcomeActivity_" />
    </activity>
    
        
    <activity
      android:name=".HelpActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".MainActivity_"
      android:label="@string/app_name_help" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity_" />
    </activity>
    
    <activity
      android:name=".InfoServerContactsActivity_"
      android:screenOrientation="portrait"
      android:parentActivityName=".InfoWelcomeActivity_"
      android:label="@string/app_name_info_ldap" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".InfoWelcomeActivity_" />
    </activity>
    
    <activity android:theme="@android:style/Theme.Dialog" 
      android:name="cz.xsendl00.synccontact.CertShow"
      android:label="Error"    >
    </activity>
    
    <activity
      android:name="MainActivity_"
      android:screenOrientation="portrait"
      android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
